scikit-learn~=1.6.1
numpy~=1.23.5
matplotlib~=3.10.3
pandas~=2.2.3
ipython~=8.36.0
protobuf~=3.20.3
mlagents~=1.2.0.dev0
mlagents_envs~=1.2.0.dev0
torch~=2.7.0
gym~=0.26.2
setuptools~=78.1.0
PyYAML~=6.0.2
huggingface-hub~=0.32.1
attrs~=25.3.0
pillow~=11.2.1
h5py~=3.13.0
cloudpickle~=3.1.1
filelock~=3.18.0
grpcio~=1.48.2
PettingZoo~=1.15.0
torchvision~=0.22.0
scipy~=1.15.3
tensorboard~=2.19.0